*{
			margin: 0;
			padding: 0;
		}
		li{
			list-style: none;
			float: left;
			margin: 10px;

		}
		ul{
			width: 1200px;
			margin: 0 auto;
		}
		img{
			width: 225px;
			margin-bottom: 5px;
		}
		div{
			width: 225px;
			padding: 10px;
			margin-bottom: 16px;
			border:1px solid black;
		}